<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LibraryManagement.Properties.Settings.HackLibraryConnectionString"
            connectionString="Data Source=(local);Initial Catalog=HackLibrary;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>